<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}

  <body class="index is-preload">
    <div id="page-wrapper">
      {{ template "nav" . }}

      <section id="banner">
        <div class="inner">
          <header>
            <h2>#rhiphil</h2>
          </header>

          <!-- <p><strong>June 5, 2021</strong></p> -->
          <p>
            <strong>Rhiannon & Phil</strong><br />
            are getting married<br />
            <strong>June 5, 2021</strong> in <strong>Cape May, NJ</strong>
          </p>

          <footer>
            <ul class="buttons stacked">
              <li><a href="#main" class="button fit scrolly">Learn More</a></li>
            </ul>
          </footer>
        </div>
      </section>

      <article id="main">
        <header class="special container">
        <span class="icon solid fa-ring"></span>
          <!-- <h2>
            <strong>Rhiannon & Phil</strong><br />
            are getting married<br />
            <strong>June 5, 2021</strong> in <strong>Cape May, NJ</strong>
          </h2> -->
        </header>

        <section class="wrapper style2 container special-alt">
          <div class="row gtr-50">
            <div class="col-8 col-12-narrower">
              <header>
                <h2>The <strong>First Date</strong></h2>
              </header>
              <p>
                Rhiannon and Phil initially met on Tinder. It took some convincing, but Phil managed to
                get Rhiannon to meet him for dinner at
                <a href="http://toloachenyc.com/mobile/home.html">Toloache</a>
                , on Manhattan's Upper East Side. They
                had instant chemistry, and after dinner went for drinks at
                <a href="https://www.rathbonesnyc.com/">Rathbone's Pub</a>
                . There, Phil
                had his best idea ever: His favorite team, The New York Giants, were playing Rhiannon's
                favorite team, the Green Bay Packers, that weekend... They bet on the winner of the
                game, for dinner on their second date.
              </p>

              <header>
                <h2>The <strong>Proposal</strong></h2>
              </header>
              <p>
                It took more than six years, but Phil was finally able to convince Rhiannon that they
                should get married. The evening of February 13th, <b>not</b> Valentine's Day, he invited her to
                join him in walking their dog, Freddy, and Rhiannon instantly knew something was
                happening. They walked to
                <a href="https://www.carlschurzparknyc.org/">Carl Shurz Park</a>
                , on the bank of the East River. It was a
                beautiful night, and the New York City skyline provided the backdrop for a moment
                neither will ever forget.
              </p>

              <header>
                <h2>The rest is <strong>History</strong></h2>
              </header>
            </div>

            <div class="col-4 col-12-narrower imp-narrower">
              <ul class="featured-icons">
                <li><span class="icon fa-comment"></span></li>
                <li><span class="icon solid fa-fire"></span></li>
                <li><span class="icon solid fa-football-ball"></span></li>
                <li><span class="icon solid fa-beer"></span></li>
                <li><span class="icon solid fa-paw"></span></li>
                <li><span class="icon solid fa-gem"></span></li>
                <li><span class="icon solid fa-glass-cheers"></span></li>
                <li><span class="icon solid fa-hamburger"></span></li>
                <li><span class="icon solid fa-city"></span></li>
                <li><span class="icon solid fa-moon"></span></li>
              </ul>
            </div>
          </div>
        </section>

        <section class="wrapper style3 container special">
          <header class="major">
            <h2>Wedding <strong>Information</strong></h2>
          </header>

          <div class="row">
            <div class="col-6 col-12-narrower">
              <section>
                <a class="image featured" href="{{ .Links.schedule }}" >
                  <img src="{{ .Assets.images }}couple_1_home.png" alt="" />
                </a>
                <header>
                  <h3><a href="{{ .Links.schedule }}">Schedule</a></h3>
                </header>
                <p>
                  Details on the ceremony, reception, and anything else you might want to attend. You'll find
                  location specifics, date & time information, and anything else important for you to know.
                </p>
              </section>
            </div>

            <div class="col-6 col-12-narrower">
              <section>
                <a href="{{ .Links.people }}" class="image featured">
                  <img src="{{ .Assets.images }}couple_4_home.png" alt="" />
                </a>
                <header>
                  <h3><a href="{{ .Links.people }}">People</a></h3>
                </header>
                <p>
                  Information about the wedding party, venue, photographer, band, and everyone else who is
                  going to help make the day unforgettable.
                </p>
              </section>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-12-narrower">
              <section>
                <a href="{{ .Links.travel }}" class="image featured">
                  <img src="{{ .Assets.images }}couple_5_home.png" alt="" />
                </a>
                <header>
                  <h3><a href="{{ .Links.travel }}">Travel</a></h3>
                </header>
                <p>
                  Recommended hotel accommodations, as well as directions from nearby airports and major
                  cities.
                </p>
              </section>
            </div>

            <div class="col-6 col-12-narrower">
              <section>
                <a href="{{ .Links.registry }}" class="image featured">
                  <img src="{{ .Assets.images }}couple_7_home.png" alt="" />
                </a>
                <header>
                  <h3><a href="{{ .Links.registry }}">Registry</a></h3>
                </header>
                <p>
                  The official wedding registry information.
                </p>
              </section>
            </div>
          </div>

          <footer class="major">
            <ul class="buttons">
              <li><a href="{{ .Links.rsvp }}" class="button primary">RSVP</a></li>
              <li><a href="{{ .Links.faq }}" class="button">FAQ</a></li>
            </ul>
          </footer>
        </section>
      </article>

      <section id="cta">
        <header>
          <h2>Want to stay <strong>in the loop</strong>?</h2>
          <p>Subscribe now and you'll receive an email when there's more information to share.</p>
        </header>

        <footer>
          <form id="signup-form" action="#">
            <ul class="buttons">
              <li><input
                id="email"
                name="email"
                placeholder="Email"
                style="background-color: #fff; color: #7c8081;"
                type="email" /></li>
              <li><input
                class="button primary"
                style="min-width: 12em; line-height: 3.4em;"
                type="submit"
                value="Subscribe" /></li>
              <li class="message-container">
                <span class="message"></span>
              </li>
            </ul>
          </form>
        </footer>

        <script src="{{ .Assets.js }}form.js"></script>
      </section>

      {{ template "footer" . }}
    </div>
  </body>
</html>
