<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>
  {{ template "nav" . }}

  <article id="main">
    <header class="special container">
      <span class="icon solid fa-user-friends"></span>
      <h2>The <strong>People</strong></h2>
      <p>The names and faces that will make the day unforgettable.</p>
    </header>

    <section class="wrapper style3 container special">
      <header class="major">
        <h2>Wedding Party</h2>
      </header>

      <div class="row">
        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}maid_of_honor.png" alt="" /></a>
            <header>
              <h2>Jena Lococo</h2>
              <h3>Maid of Honor</h3>
            </header>
            <p>
              Jena is Rhiannon's younger sister and they've been the best of friends for as long as either can
              remember. Their shared love of traveling has lead them on some exciting adventures - from zorbing
              in New Zealand, to safariing in Kenya.
            </p>
          </section>
        </div>

        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}best_man.png" alt="" /></a>
            <header>
              <h2>Jesse Marino</h2>
              <h3>Best Man</h3>
            </header>
            <p>
              Jesse and Phil met during the summer after 4th grade at LakeView Day Camp, making him Phil's oldest
              friend. Jesse is always quick with a joke, a drink, or a slap to the face. As Phil's best man,
              he'll likely provide several of each.
            </p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}bridesmaid_1.png" alt="" /></a>
            <header>
              <h3>Marisa Franceour</h3>
            </header>
            <p>
              Marisa and Rhiannon met during their sophomore year of high school and have been best friends ever
              since. Although they haven't lived in the same place for the last 13 years, they still keep each other
              laughing constantly.
            </p>
          </section>
        </div>

        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}groomsman_1.png" alt="" /></a>
            <header>
              <h3>Beau Salant</h3>
            </header>
            <p>
              Beau is Phil's younger brother, and currently resides in Washington, D.C. where he works in political
              polling. With a plethora of knowledge of all things movies, theater, and politics, Beau is never
              one to back down from a debate.
            </p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}bridesmaid_2.png" alt="" /></a>
            <header>
              <h3>Olivia Murphy</h3>
            </header>
            <p>
              After moving to NYC in 2013, Rhiannon was lucky to meet fellow New York newbie, Oliva. They quickly
              realized that their outlooks on life and ways of thinking were identical. Olivia is one of the
              most intelligent and giving people Rhiannon knows.
            </p>
          </section>
        </div>

        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}groomsman_2.png" alt="" /></a>
            <header>
              <h3>Jon Noah</h3>
            </header>
            <p>
              Jon and Phil first met in high school, and immortalized their friendship after spending
              a year as roommates in New York City. Somehow even after a year of living together, they
              remain close friends.
            </p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}bridesmaid_3.png" alt="" /></a>
            <header>
              <h3>Paige Rayman</h3>
            </header>
            <p>
              Paige and Rhiannon have enjoyed being nerdy together since high school. Their shared love of Harry
              Potter, math, and french class bonded them from the beginning. Paige is a thoughtful friend who
              always remembers the little things.
            </p>
          </section>
        </div>

        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}groomsman_3.png" alt="" /></a>
            <header>
              <h3>Carter Malmo</h3>
            </header>
            <p>
              Carter and Phil met just a few years ago, but became fast friends after bonding over things
              like football, Game of Thrones, and a good nitro stout from the deli. Despite being a talented
              guitarist, Carter still can't seem to find a drummer for his band.
            </p>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}bridesmaid_4.png" alt="" /></a>
            <header>
              <h3>Melissa Waggy</h3>
            </header>
            <p>
              Melissa and Rhiannon met in high school, where they enjoyed spending many weekends at Melissa's
              watching Friends on repeat. Melissa has always been Rhiannon's favorite person to ask for advice,
              because she always tells you exactly what she thinks.
            </p>
          </section>
        </div>

        <div class="col-6 col-12-narrower">
          <section>
            <a href="#" class="image featured"><img src="{{ .Assets.images }}groomsman_4.png" alt="" /></a>
            <header>
              <h3>Ben Rosen</h3>
            </header>
            <p>
              Ben and Phil became friends in high school, and bonded over their mutual love of football, politics,
              and giving Jesse a hard time. Nobody is as content as Phil to watch as much football on Sundays as
              possible, except perhaps for Ben.
            </p>
          </section>
        </div>
      </div>
    </section>

    <header class="special container">
      <span class="icon solid fa-tags"></span>
      <h2>Vendors</h2>
      <p>We may be paying them to be there, but they feel like family.</p>
    </header>

    <section class="wrapper style4 container">
      <div class="content">
        <section>
          <a href="#" class="image featured"><img src="{{ .Assets.images }}grand_hotel.png" alt="" /></a>
          <header>
            <h3>Katlyn Mogavero, The Grand Hotel</h3>
          </header>
          <ul class="icons">
            <li>
              <a href="https://www.grandhotelcapemay.com/" class="icon brands circle fa-google"><span class="label">Website</span></a>
            </li>
            <li>
              <a href="https://www.facebook.com/GrandCapeMay" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a href="https://twitter.com/Grandcapemay" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a>
            </li>
          </ul>
        </section>

        <section>
          <a href="#" class="image featured"><img src="{{ .Assets.images }}photographer.png" alt="" /></a>
          <header>
            <h3>Jane Martinez, Jane D. Martinez Photography</h3>
          </header>
          <ul class="icons">
            <li>
              <a href="https://www.janedmartinez.com/" class="icon brands circle fa-google"><span class="label">Website</span></a>
            </li>
            <li>
              <a href="https://www.facebook.com/janedmartinezphotography/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a href="https://www.instagram.com/jane_d_martinez/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a>
            </li>
          </ul>
        </section>

        <section>
          <a href="#" class="image featured"><img src="{{ .Assets.images }}band.png" alt="" /></a>
          <header>
            <h3>The Philly Keys</h3>
          </header>
          <ul class="icons">
            <li>
              <a href="https://thephillykeys.com/" class="icon brands circle fa-google"><span class="label">Website</span></a>
            </li>
            <li>
              <a href="https://www.facebook.com/thephillykeys/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a href="https://www.instagram.com/thephillykeys/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a>
            </li>
          </ul>
        </section>

        <section>
          <a href="#" class="image featured"><img src="{{ .Assets.images }}florist.png" alt="" /></a>
          <header>
            <h3>A Touch of Elegance</h3>
          </header>
          <ul class="icons">
            <li>
              <a href="http://www.atoeevents.com/" class="icon brands circle fa-google"><span class="label">Website</span></a>
            </li>
            <li>
              <a href="https://www.facebook.com/atoeevents/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a href="https://twitter.com/Lisaplociniak" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a>
            </li>
            <li>
              <a href="https://www.instagram.com/atoeevents/" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a>
            </li>
          </ul>
        </section>
      </div>
    </section>
  </article>

  {{ template "footer" . }}
</body>
</html>
