<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body>
  {{ template "nav" . }}

  <article id="main">
    <header class="special container">
      <span class="icon solid fa-shopping-cart"></span>
      <h2>Wedding <strong>Registries</strong></h2>
      <p>We're not in this for the gifts, but they're always appreciated.</p>
    </header>

    <section class="wrapper style4 container">
      <div class="content">
        <section>
          <a href="https://www.williams-sonoma.com/registry/kpsjdp98vr/registry-list.html" style="border-bottom: 0px;">
            <img src="https://assets.wsimgs.com/wsimgs/ab/images/i/202113/0006/images/common/logo.svg" alt="" style="width: 100%;" />
          </a>
        </section>
      </div>
    </section>

    <section class="wrapper style4 container">
      <div class="content">
        <section>
          <a href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/550102772" style="border-bottom: 0px;">
            <img src="https://cdn.worldvectorlogo.com/logos/bed-bath-and-beyond.svg" alt="" style="width: 100%;" />
          </a>
        </section>
      </div>
    </section>
  </article>

  {{ template "footer" . }}
</body>
</html>
