<!DOCTYPE HTML>
<html lang="en">
  {{ template "head" . }}

  <body class="no-sidebar is-preload">
    <div id="page-wrapper">
      {{ template "nav" . }}

      <article id="main">
        <header class="special container">
          <span class="icon solid fa-drafting-compass"></span>
          <h2>Rehearsal <strong>Events</strong></h2>
          <p>We want to get things right the first time.</p>
          <p />
          <footer>
            <ul class="buttons stacked">
              <li><a href="#rehearsal-rsvp" class="button primary scrolly">RSVP</a></li>
            </ul>
          </footer>
        </header>

        <section class="wrapper style4 container">
          <div class="row gtr-150">
            <div class="col-4 col-12-narrower">
              <div class="sidebar">
                <section>
                  <header>
                    <h3><strong>Ceremony</strong> Rehearsal</h3>
                  </header>
                  <p>
                    The Grand Hotel of Cape May<br />
                    1045 Beach Avenue<br />
                    Cape May, New Jersey 08204<br />
                    <a href="tel:6098845611">(609) 884 - 5611</a><br />
                  </p>
                  <p>
                    Friday, June 4<sup>th</sup> at 4:30 PM
                  </p>
                  <p>
                    We'll be rehearsing our wedding ceremony on the Grand Hotel's sun deck.
                    If you're in the wedding party, officiating the ceremony, or have
                    otherwise been asked to participate, please do your best to attend.
                  </p>
                  <footer>
                    <ul class="buttons">
                      <li><a href="{{ .Links.travel }}" class="button small">Travel Info</a></li>
                    </ul>
                  </footer>
                </section>
              </div>
            </div>

            <div class="col-8 col-12-narrower imp-narrower">
              <div class="content">
                <section>
                  <a href="https://capemaymac.org/eat-drink/vintage/" class="image featured">
                    <img src="{{ .Assets.images }}vintage.png" alt="" />
                  </a>
                  <header>
                    <h3>Rehearsal <strong>Dinner</strong></h3>
                  </header>
                  <p>
                    Vintage<br />
                    1048 Washington Street<br />
                    Cape May, New Jersey 08204<br />
                    <a href="tel:6098845404">(609) 884 - 5404</a><br />
                  </p>
                  <p>
                    Friday, June 4<sup>th</sup> at 6:30 PM. Vintage is only about a 20 minute walk from the Grand Hotel.
                  </p>

                  <footer>
                    <ul class="buttons">
                      <li>
                        <a
                          href="https://www.google.com/maps/dir/Grand+Hotel+of+Cape+May,+1045+Beach+Ave,+Cape+May,+NJ+08204/Vintage+BYOB,+1048+Washington+St,+Cape+May,+NJ+08204/"
                          class="button primary">
                          Directions
                        </a>
                      </li>
                      <li>
                        <a href="https://capemaymac.org/eat-drink/vintage/" class="button">Learn More</a>
                      </li>
                    </ul>
                  </footer>
                </section>
              </div>
            </div>
          </div>
        </section>

        <header class="special container" id="rehearsal-rsvp">
          <span class="icon solid fa-envelope"></span>
          <h2>Rehearsal <strong>RSVP</strong></h2>
        </header>

        <section class="wrapper style4 special container medium">
          <p>
            This is separate from your ceremony/reception RSVP, so please be sure to RSVP there
            as well. The same instructions apply to both:
          </p>
          <p>
            Please enter your first name, last name, and zip code exactly as they appeared on your
            invitation's envelope. If you're responding for yourself and one or more guests (or
            your family), please include their name(s) in the field labeled "Guest(s)", and separate
            them with commas. Otherwise, you may leave that field blank. If necessary, you may
            reuse this form later to change your response.
          </p>

          <div class="content">
            <form id="rehearsal-rsvp-form" action="#">
              <div class="row gtr-50">
                <div class="col-12">
                  <input type="text" name="name" title="Please enter your first and last name." pattern=".*\s.*"
                    placeholder="Full Name" oninvalid="this.setCustomValidity('Please enter your first and last name.')"
                    oninput="this.setCustomValidity('')" required />
                </div>
                <div class="col-6 col-12-mobile">
                  <input type="email" name="email" title="Please enter your email address." placeholder="Email"
                    oninvalid="this.setCustomValidity('Please enter an email address.')" oninput="this.setCustomValidity('')"
                    required />
                </div>
                <div class="col-6 col-12-mobile">
                  <input type="text" name="zip"
                    title="For verification, please enter the zip code to which your invitation was sent."
                    placeholder="Invitation Zip Code" minlength="5" maxlength="5" pattern="\d{5}"
                    oninvalid="this.setCustomValidity('For verification, please enter the zip code to which your invitation was sent.')"
                    oninput="this.setCustomValidity('')" required />
                </div>
                <div class="col-12">
                  <input type="text" name="guests" placeholder="Guest(s)"
                    title="Please list the guests you plan to bring with you. If including more than one guest, this must be a comma-separated list of their full names exactly as they appear on your invitation."
                    pattern="[\w\s.-]+(,[\w\s.-]+)*" oninvalid="this.setCustomValidity('Please list the guests you plan to bring with you. '
                          + 'If including more than one guest, this must be a comma-separated list of their full '
                          + 'names exactly as they appear on your invitation.')" oninput="this.setCustomValidity('')" />
                </div>
                <div class="col-12">
                  <textarea name="message"
                    placeholder="Food allergies? Dietary restrictions? Just want to say hi? Add a personal note..." rows="3"
                    maxlength="500"></textarea>
                </div>
                <div class="col-6 col-12-narrower">
                  <input type="radio" id="attending" name="response"
                    title="Select this option if you and the specified guest(s) will be attending." value="1" required />
                  <label for="attending">Attending</label>
                </div>
                <div class="col-6 col-12-narrower">
                  <input type="radio" id="not-attending" name="response"
                    title="Select this option if you will and the specified guest(s) will not be attending." value="2"
                    required />
                  <label for="not-attending">Not Attending</label>
                </div>
                <p />
                <div class="col-12">
                  <ul class="buttons">
                    <li><input type="submit" class="special primary" value="Submit Rehearsal RSVP" /></li>
                  </ul>
                </div>
                <div class="message-container col-12">
                  <span class="message">Placeholder</span>
                </div>
              </div>
            </form>
          </div>

          <script src="{{ .Assets.js }}form.js"></script>
        </section>
      </article>
    </div>

    {{ template "footer" . }}
  </body>
</html>
